@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&family=Proza+Libre:wght@400;500&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html,
body
{
width: 100%; 
height: 100%;  
background-image: linear-gradient(#0b1337, #010162) ;

}

#root,

.app {
  height: 100%;
  width: 100%;
  font-family: "Cizel", Decorative;
  font-family: "Proza Libre", sans-serif;
}

.connect {
  margin-bottom: 2rem;
  width: 230px;
}
