.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card,
.footer {
  border-color: #222;
}
.logo img {
  filter: invert(1);
}


.container {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  min-height: 75vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #f213a4;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.connect {
  margin-bottom: 2rem;
  width: 230px;
}

.description {
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  background-color: #1b2129;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  color: #0ea5e9;
  border-color: #0ea5e9;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.card,
.footer {
  border-color: #222;
}
.code {
  background: #111;
}
.logo img {
  filter: invert(1);
}

.navbar {
  background-color: #1b2129;
  color: #fff;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLinks a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}
.navLinks a:hover {
  color: #0ea5e9;
}

.heroSection {
  background-color: #140048;
  color: #fff;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.claimContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}
.claimValue {
  font-size: 1rem;
  overflow: hidden;
 
}
.claimInput {
  color: black;
  padding: 1rem 1rem;
  border-radius: 4px;
  border: none;
  margin: 0px 0.25rem;
  width: 30%;
  
 
}
.claimBtn {
  background-color: #fff;
  color: #333;
  padding: 1rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.NFTCard {
  background-color: #1b2129;
  color: #fff;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 2rem;
  max-width: 32%;
  margin: 0.5%;
}

















.connectButton {
  background-color: #0b1337 !important ;
  border-radius: 10px !important ;

  color: #fff !important;
  
  cursor: pointer !important;
  font-size: 100% !;
  height: 44px !important;
  padding: 0 25px !important;
  position: relative !important;
  text-align: center !important;
  transition: all 0.25s ease-in-out !important;
}

.connectButton:hover {
 transform: translateY(-2px) !important;
 background-color: #002DA6 !important ;
  
}


.boostButton {
  background-color: #010162 !important ;
  color: #fff !important;
  cursor: pointer !important;
  font-size: 100% !;
  height: 44px !important;
  padding: 0 25px !important;
  position: relative !important;
  text-align: center !important;
  transition: all 0.25s ease-in-out !important;
}

.boostButton:hover {
  background-color: #002DA6 !important ;
}


.claimButton {
  background-color: #425AC2 !important ;
  color: #fff !important;
  cursor: pointer !important;
  font-size: 100% !;
  height: 44px !important;
  padding: 0 25px !important;
  margin-top:  2rem !important;
  position: relative !important;
  text-align: center !important;
  transition: all 0.25s ease-in-out !important;
}

.claimButton:hover {
  background-color: #7bd4ff !important ;
  color: #140048 !important;
}